body {
    background-color: #121212;
    color: snow;
}

div.console {
    background-color: darkslategrey;
    color: snow;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
}

div.outerDiv {
    padding-left: 50px;
    padding-right: 50px;
}

a {
    color: lightseagreen;
}