body {
    background-color: #121212;
    color: #FFFFFF;
}

.current {
    color: white;
}

.mainDiv {
    margin-top: 40px; 
}

div.console {
    background-color: darkslategrey;
    color: white;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 15px;
}

div.outerDiv {
    padding-left: 50px;
    padding-right: 50px;
}

a {
    color: lightseagreen;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
  
a:active {
    text-decoration: underline;
}