body {
    background-color: #121212;
    color: white;
}

.current {
    color: white;
}

.mainDiv {
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    align-content: center;
}

#divMain {
    display: flex;
    justify-content: center;
}

#div00 {
    min-width: 960px;
    min-height: 480px;
    position: absolute;
    text-align: center;
    background-position: center;
    background-image: url(https://cdn.pixabay.com/photo/2012/01/09/09/59/earth-11595_960_720.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    color: lightseagreen;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
  
a:active {
    text-decoration: underline;
}