body {
    background-color: #121212;
    color: white;
}

img.imageSquare {
    align-self: center;
}

#image00 {
    background-color: black;
}

a {
    color: lightseagreen;
    text-decoration: none;
}